<div class="auth-container">
  <h2>Login</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
      name="password"
      required
    />

    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>

  <p *ngIf="message" class="success">{{ message }}</p>
  <p *ngIf="error" class="error">{{ error }}</p>

<a routerLink="/register">Don’t have an account? Register</a>
</div>
